<ion-header-bar align-title="center" class="bar-balanced">
  <div class="buttons">
    <a
      class="button button-clear button-light"
      ng-click="openInfoModal()"
      >
      <font size="5px">
        <i class="ion-information-circled"></i>
      </font>
    </a>
  </div>
  <h1 class="title">Qiita 新着投稿</h1>
  <div class="buttons">
    <a
      class="button button-outline button-light button-small"
      ng-href="http://qiita.com"
      target="_blank"
      >
      <font size="1px">
        本サイトへ
      </font>
    </a>
  </div>
</ion-header-bar>
<ion-content
  delegate-handle="mainScroll"
  padding="true"
  style="background: floralwhite; margin-top: -10px"
  >
  <ion-refresher
    on-refresh="load(1)"
    >
  </ion-refresher>
  <div align="center">
    <font size="1px" color="gray">
      pull to refresh..
    </font>
  </div>
  <ion-list>
    <ion-item ng-repeat="item in items"
              can-swipe="false"
              class="item-thumbnail-left" ng-click="openPostModal($index)">
      <img ng-src="{{item.user.profile_image_url}}">
      <h5>
        <font color="gray">
          {{item.user.url_name}} が {{item.created_at_in_words}}前 に投稿しました。
        </font>
      </h5>
      <h3><font color="#3cb371">{{item.title}}</font></h3>
      <h5>
        <font color="gray">
          <i class="ion-ios-folder-outline"></i> {{item.stock_count}}
          &nbsp;&nbsp;<i class="ion-ios-chatbubble-outline"></i> {{item.comment_count}}
        </font>
      </h5>
      <h6><br></h6>
      <h4>
        <font color="gray">
          {{item.raw_body}}
        </font>
      </h4>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll
    on-infinite="load(next_page)"
    distance="20%"
    >
  </ion-infinite-scroll>

  <!-- 記事詳細 モーダル表示 -->
  <script id="post.modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">{{modal_title}}</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="closePostModal()">
            <font size="5px">
              <i class="ion-close"></i>
            </font>
          </button>
        </div>
      </ion-header-bar>
      <ion-content
        delegate-handle="subScroll"
        padding="true"
        style="background: floralwhite; padding: 0 10px 10px 10px"
        ng-click="closePostModal()"
        >
        <h4><font color="#3cb371">{{modal_title}}</font></h4>
        <hr>
        <div class="markdown" marked="modal_body|emoji"></div>
        <br>
        <div align="center">
          <a
            class="button button-balanced button-small"
            ng-href="{{modal_url}}"
            target="_blank"
            >
            <font size="1px">
              本サイトで読む（ストックもここから）
            </font>
          </a>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- info モーダル表示 -->
  <script id="info.modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">About</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="closeInfoModal()">
            <font size="5px">
              <i class="ion-close"></i>
            </font>
          </button>
        </div>
      </ion-header-bar>
      <ion-content
        padding="true"
        style="background: floralwhite; padding: 20px 50px 10px 50px"
        ng-click="closeInfoModal()"
        >
        <div align="left">
          <font color="gray">
            Qiita の新着投稿を表示するアプリケーション(非公式)です。
          </font>
          <br><br>
          <i class="ion-social-octocat"></i>
          <a ng-href="https://github.com/hkusu/qiita-newpost-reader"
             target="_blank"
            >
            hkusu/qiita-newpost-reader
          </a>
          <br><br>
          <i class="ion-person"></i>
          <a ng-href="https://hkusu.github.io"
             target="_blank"
            >
            hkusu.github.io
          </a>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-content>
