<ion-header-bar align-title="center" class="bar-balanced">
  <div class="buttons">
    <a
      class="button button-clear button-light"
      ng-click="openInfoModal()"
      >
      <font size="5px">
        <i class="ion-information-circled"></i>
      </font>
    </a>
  </div>
  <h1 class="title">Qiita 新着投稿</h1>
  <div class="buttons">
    <a
      class="button button-clear button-light"
      ng-click="openSearchModal()"
      >
      <font size="6px" color="white">
        <i class="ion-search"></i>
      </font>
    </a>
  </div>
</ion-header-bar>
<ion-content
  delegate-handle="mainScroll"
  padding="true"
  style="background: floralwhite; margin-top: -10px"
  >
  <ion-refresher
    on-refresh="load(1,search_keyword,tag_url,tag_name,user_url)"
    >
  </ion-refresher>
  <div align="center">
    <font size="1px" color="gray">
      <i class="ion-android-arrow-dropdown-circle"></i>
      pull to refresh..
    </font>
  </div>
  <div align="center" ng-if="message != ''" style="margin: 5px 0 10px 0">
    <span class="message">
      {{message}}&nbsp;
      <font size="1px" ng-click="load(1,'','','','')">
        <u>新着投稿へ戻る</u>
      </font>
    </span>
  </div>
  <ion-list>
    <ion-item ng-repeat="item in items"
              can-swipe="false"
              class="item-avatar-left">



      <img ng-src="{{item.user.profile_image_url}}" ng-click="load(1,'','','',item.user.url_name)">


      <h5>
        <font color="gray">
          {{item.user.url_name}} が {{item.created_at_in_words}}前 に投稿しました。
        </font>
      </h5>


      <h3 ng-click="openPostModal($index)">
        <font color="#3cb371">{{item.title}}</font>
      </h3>


      <h5>
        <font color="#ff4500" ng-if="item.stock_count >= 10">
          <i class="ion-ios-folder-outline"></i> {{item.stock_count}}
        </font>
        <font color="orange" ng-if="item.stock_count < 10 && item.stock_count >= 3">
          <i class="ion-ios-folder-outline"></i> {{item.stock_count}}
        </font>
        <font color="gray" ng-if="item.stock_count < 3">
          <i class="ion-ios-folder-outline"></i> {{item.stock_count}}
        </font>
        <font color="gray">
          &nbsp;&nbsp;<i class="ion-ios-chatbubble-outline"></i> {{item.comment_count}}
        </font>
      </h5>


      <h4>
        <span ng-repeat="tag in item.tags">
          <span class="tag" ng-click="load(1,'',tag.url_name,tag.name,'')">
            {{tag.name}}
          </span>
          &nbsp;
        </span>
      </h4>


      <h4>
        <font color="gray">
          {{item.raw_body}}
        </font>
      </h4>


    </ion-item>
  </ion-list>
  <ion-infinite-scroll
    ng-if="show_infinite"
    on-infinite="load(next_page,search_keyword,tag_url,tag_name,user_url)"
    distance="20%"
    >
  </ion-infinite-scroll>
  <div ng-if="!show_infinite" align="center">
    <font size="1px" color="gray">
      これ以上データはありません。
    </font>
  </div>

  <!-- 記事詳細 モーダル表示 -->
  <script id="post.modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">{{item.title}}</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="closePostModal(1)">
            <font size="5px">
              <i class="ion-close"></i>
            </font>
          </button>
        </div>
      </ion-header-bar>
      <ion-content
        delegate-handle="subScroll"
        padding="true"
        style="background: floralwhite; padding: 0 10px 10px 10px"
        >
        <h4><font color="#3cb371">{{item.title}}</font></h4>
        <h6>
          <span ng-repeat="tag in item.tags" ng-click="doTagSearch(tag.url_name,tag.name)">
            <span class="tag">
              {{tag.name}}
            </span>
            &nbsp;
          </span>
        </h6>
        <img ng-src="{{item.user.profile_image_url}}" width="12" ng-click="doUserSearch(item.user.url_name)">
        <font color="gray" size="1px">
          <span ng-click="doUserSearch(item.user.url_name)">{{item.user.url_name}}</span> が {{item.created_at_in_words}}前 に投稿しました。
        </font>
        <hr>
        <div class="markdown" marked="modal_body|emoji" ng-click="closePostModal()"></div>
        <br>
        <div align="center">
          <a
            class="button button-balanced button-small"
            ng-href="{{item.url}}"
            >
            <font size="1px">
              本サイトで読む（ストックもここから）
            </font>
          </a>
        </div>
        <br>
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- info モーダル表示 -->
  <script id="info.modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">About</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="closeInfoModal()">
            <font size="5px">
              <i class="ion-close"></i>
            </font>
          </button>
        </div>
      </ion-header-bar>
      <ion-content
        padding="true"
        style="background: floralwhite; padding: 20px 50px 10px 50px"
        ng-click="closeInfoModal()"
        >
        <div align="left">
          <font color="gray">
            Qiita の新着投稿を表示するモバイル向けのアプリケーション(非公式)です。
            新着投稿だけでなく、任意のキーワードでの検索も可能です。
            また投稿ユーザやタグで検索することもできます(各アイコンをクリックしてみてください)。
          </font>
          <br><br>
          <i class="ion-social-octocat"></i>
          <a ng-href="https://github.com/hkusu/qiita-newpost-reader">
            hkusu/qiita-newpost-reader
          </a>
          <br><br>
          <i class="ion-person"></i>
          <a ng-href="https://hkusu.github.io">
            hkusu.github.io
          </a>
        </div>
        <br>
        <div align="center">
          <a
            class="button button-balanced button-small"
            ng-href="http://qiita.com"
            >
            <font size="1px">
              本サイト（qiita.com）へ
            </font>
          </a>
          <br><br>
          <a
            class="button button-stable button-small"
            ng-click="closeInfoModal()"
            >
            &nbsp;&nbsp;閉じる&nbsp;&nbsp;
          </a>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- 検索 モーダル表示 -->
  <script id="search.modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">Seach</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="closeSearchModal()">
            <font size="5px">
              <i class="ion-close"></i>
            </font>
          </button>
        </div>
      </ion-header-bar>
      <ion-content
        padding="true"
        style="background: floralwhite; padding: 20px 20px 10px 20px"
        >
        <div align="left">
          <font color="gray">
            複数キーワードを指定する場合は半角または全角スペースで繋いでください。検索結果は Qiita API v1 の仕様により新着順ではなく、本サイト(qiita.com)でいう『関連度順』で表示されるようです。
          </font>
        </div>
        <div align="center">
          <div class="list list-inset">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="キーワード" ng-model="keyword">
              </label>
              <button class="button button-clear button-small" ng-click="keyword=''">
                clear
              </button>
            </div>
          </div>
        </div>
        <br>
        <div align="center">
          <a
            class="button button-balanced"
            ng-click="doKeywordSearch(keyword)"
            ng-disabled="!keyword"
            >
            &nbsp;&nbsp;&nbsp;&nbsp;検索&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
          &nbsp;
          <a
            class="button button-stable"
            ng-click="closeSearchModal()"
            >
            &nbsp;&nbsp;閉じる&nbsp;&nbsp;
          </a>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-content>
