.markdown img {
  max-width: 100%;
  height: auto;
}

.markdown code {
  background-color: #f5f5f5;
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.markdown pre {
  background-color: #f5f5f5;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 10px 0 10px 0;
  font-size: 0.8em;
}

.markdown h1 {
  color: #3cb371;
  font-size: 2.0em;
}
.markdown h2 {
  color: yellowgreen;
  font-size: 1.7em;
}
.markdown h3 {
  font-size: 1.4em;
}

.markdown i.emoji {
  vertical-align: middle;
}

a:link { color: gray; }
a:visited { color: gray; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }

.tag {
  font-size: 0.8em;
  color: white;
  background-color: gray;
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.item-avatar-left {
  padding-left: 45px;
  min-height: 45px; }
.item-avatar-left > img:first-child {
  max-width: 20px;
  max-height: 20px;
  border-radius: 20%;
}

.message {
  color: white;
  background-color: yellowgreen;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
